.content {
  margin-top: 0;
}

.listingblock > .title {
  font-weight: 600;
  font-style: italic;
}

.listingblock > .content {
  display: block;
}

.content > pre {
  margin: 0;
}

li > p {
  margin: 0;
}

.sect1 > h2 {
  margin: 3.2rem 0 1.0rem 0;
}

.sect2 > h3 {
  margin: 0;
}

.paragraph > p {
  margin: 1.5rem 0 1.5rem 0;
}

.admonitionblock .icon {
  border-left: solid black;
  border-bottom: solid black;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background:none;
  width:100%
}

.admonitionblock > table td.icon {
  text-align: center;r
  width:80px
}

.admonitionblock > table td.icon img {
  max-width:none
}

.admonitionblock > table td.icon .title {
  font-weight: bold;
  font-family: "Open Sans","DejaVu Sans",sans-serif;
  text-transform: uppercase
}

.admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right:1.25em;
  border-left:1px solid #ddddd8;
  margin-bottom: 0;
  display: block;
  border-right: solid black;
  border-bottom: solid black;
}

.admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom:0
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  cursor: default
}

  .admonitionblock td.icon .icon-note::before{content:"\f05a";color:#19407c}
  .admonitionblock td.icon .icon-tip::before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
  .admonitionblock td.icon .icon-warning::before{content:"\f071";color:#bf6900}
  .admonitionblock td.icon .icon-caution::before{content:"\f06d";color:#bf3400}
  .admonitionblock td.icon .icon-important::before{content:"\f06a";color:#bf0000}

.colist td {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 0.5rem;
}

.conum[data-value] {
  display: inline-block;
  color: #fff!important;
  background-color: black;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans","DejaVu Sans",sans-serif;
  font-style: normal;
  font-weight: bold
}

.conum[data-value] * {
  color: #fff!important
}

.conum[data-value]+b {
  display: none
}

.conum[data-value]::after {
  content: attr(data-value)
}

pre .conum[data-value] {
  position: relative;
  top: -.125em
}

.colist table {
  margin-top: -3.5rem;
  margin-bottom: 3.5rem;
}

b.conum *{
  color: inherit!important
}

.conum:not([data-value]):empty {
  display: none;
}

.tableblock caption {
  font-weight: bold;
}

th.tableblock, td.tableblock {
  padding: 0.5rem;
  border: 2px solid #e8e8e8;
}

p.tableblock {
  margin: 0;
}

table.tableblock {
  margin-left: auto;
  margin-right: auto;
}
