.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

div.imageblock img {
    margin-top: 1.5rem;
}

body {
    font-family: Merriweather Sans, Sans;
    font-size: 2.0em;
}
